/*
  PLEASE READ
  In this app, the font-size of the main container is set to 1% of the container width.
  The container width isn't always the window width.
  Therefore you can't rely on vw or vh.
  1em === 1% of the width of the main container.
  Also border doesn't take % so you can use em instead.
*/

:root {
  --triangle-border-width: 0.7em;
}

html,body {
  overflow: hidden;
}

@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 200;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Book.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Book.woff) format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Book.ttf)
      format('truetype');
}

@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 400;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.woff)
      format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.ttf)
      format('truetype');
}

@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 700;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.woff) format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.ttf)
      format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-repeat: repeat-x;
  font-family: 'salesforce-sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* body.background-1 {
  background-image: url('../images/gradient-background.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 40%, auto 60%, 100% 60%;
  background-position: center bottom 50%, center top, center top;
}
body.background-2 {
  background-image: url('../images/gradient-background.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 60%, auto 60%, 100% 60%;
  background-position: center bottom 75%, center top, center top;
}
body.background-3 {
  background-image: url('../images/gradient-background.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 45%, auto 60%, 100% 60%;
  background-position: center bottom 55%, center top, center top;
} */

body {
  background: linear-gradient(132deg, rgba(165,215,229,1) 0%, rgba(165,215,229,1) 20%, rgba(206,186,231,1) 50%, rgba(206,186,231,1) 80%);
  background-repeat: no-repeat;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.background-gradient {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(132deg, rgba(74,173,203,1) 0%, rgba(74,173,203,1) 20%, rgba(135,99,178,1) 50%, rgba(135,99,178,1) 80%);  
  position: absolute;
}

.laptop-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 300ms ease-in, height 300ms ease-in;
}

.laptop {
  position: absolute;
  left: 0;
  top: 0;
  height:100%;
}

.main-background {
  position: absolute;
  left: 0;
  top: 0;
}

#regional-flags {
  display: none;
  height: 50%;
  position: absolute;
  left: 15%;
  bottom: 20%;
}

#flagpole {
  height: 100%;
  position: absolute;
  transform: translateX(-60%);
}

.flag {
  position: absolute;
  height: 15%;
  top: 5.5%;
  z-index: -1;
}

.flag:nth-child(3) {
  top: 22%;
}

.steam {
  position: absolute;
  width: 13%;
  left: 11%;
  top: 27%;
}

.music {
  position: absolute;
  width: 10%;
  left: 91%;
  top: 61%;
}

.sticker {
  position: absolute;
}

.sticker img {
  position: absolute;
  transition: opacity 300ms ease-in 300ms;
  top: 0;
  left: 0;
}

.sticker-color {
  opacity: 0;
  z-index: 5;
}

.sticker-go {
  left: 39.1%;
  top: 53.8%;
  width: 5.7%;
}

.step-2 .sticker-go .sticker-resting,
.step-7 .sticker-go .sticker-resting {
  opacity: 0;
}

.step-2 .sticker-go .sticker-color,
.step-7 .sticker-go .sticker-color {
  opacity: 1;
}

.sticker-java {
  left: 56.1%;
  top: 32.5%;
  width: 9.5%;
}

.step-4 .sticker-java .sticker-resting {
  opacity: 0;
}

.step-4 .sticker-java .sticker-color {
  opacity: 1;
}

.sticker-php {
  left: 28.5%;
  top: 64%;
  width: 11.7%;
}

.step-5 .sticker-php .sticker-resting,
.step-6 .sticker-php .sticker-resting {
  opacity: 0;
}

.step-5 .sticker-php .sticker-color,
.step-6 .sticker-php .sticker-resting {
  opacity: 1;
}

.sticker-node {
  left: 28%;
  top: 41%;
  width: 4.5%;
}

.step-4 .sticker-node .sticker-resting {
  opacity: 0;
}

.step-4 .sticker-node .sticker-color {
  opacity: 1;
}


.sticker-scala {
  left: 34%;
  top: 47%;
  width: 3.2%;
}

.step-5 .sticker-scala .sticker-resting {
  opacity: 0;
}

.step-5 .sticker-scala .sticker-color {
  opacity: 1;
}

.sticker-clojure {
  left: 28.4%;
  top: 54%;
  width: 4.6%;
}

.step-6 .sticker-clojure .sticker-resting {
  opacity: 0;
}

.step-6 .sticker-clojure .sticker-color {
  opacity: 1;
}

.sticker-ruby {
  width: 4.8%;
  top: 44%;
  left: 64.7%;
}

.sticker-ruby .lottie {
  position: absolute;
  width: 200%;
  top: -4em;
  left: -3.6em;
  opacity: 0;
  transition: opacity 300ms ease-in 300ms;
}

.step-1 .sticker-ruby .sticker-resting {
  /* opacity: 0; */
}

.step-1 .sticker-ruby .sticker-color {
  opacity: 1;
}

.sticker-python {
  left: 39.8%;
  top: 38.1%;
  width: 5.8%;
}

.step-1 .sticker-python .sticker-resting {
  opacity: 0;
}

.step-1 .sticker-python .sticker-color {
  opacity: 1;
}


/* title and architecture diagram */

.auto-title {
  position: absolute;
  left: 14%;
  top: 10%;
  color: white;
  font-size: 4vw;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#architecture-diagram .diagram-clickable-area {
  position: absolute;
  bottom: 3vh;
  opacity: 0;
  right: 3vw;
  width: 10vw;
  height: 10vw;
  background: #FFF;
}

#architecture-diagram > div {
  width: 200%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    30deg,
    rgba(0, 20, 50, 0.95) 0%,
    rgba(11, 68, 114, 0.95) 60%
  );
}

#architecture-diagram > div img {
  display: block;
  height: 90vh;
}

.architecture-diagram-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.zoomed-architecture-diagram {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* help command list */

#command-help div {
  zoom: 0.5;
}

@media screen and (min-width: 1280px) {
  #command-help div {
    zoom: 0.7;
  }
}

@media screen and (min-width: 1441px) {
  #command-help div {
    zoom: 1;
  }
}

#command-help div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    30deg,
    rgba(0, 20, 50, 0.95) 0%,
    rgba(11, 68, 114, 0.95) 60%
  );
}

#command-help h2 {
  color: #FFFFFF;
  font-size: 3em;
}


#command-help td,
#command-help th {
  padding: 10px;
  font-size: 1.4em;
  color: #FFFFFF;
  font-weight: 700;
}

#command-help td:nth-child(2) {
  padding-left: 40px;
}

#command-help td:first-child {
  font-size: 1.8em;
}

#command-help span {
  border: solid 3px #FFFFFF;
  border-radius: 6px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 60px;
}

/* dialogue */

.talk-bubble {
  padding: 1em 1em;
  position: absolute;
  background: rgba(255,255,255,0.9);
  border: 0.1em solid #E1E1F1;
  font-size: 1.3em;
  color: #5D32A4;
  border-radius: 0.7em;
  color: #5D32A4;
  opacity: 1;
  transition: opacity 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.talk-bubble.char-1 {
  left: 46%;
  top: 38%;
}

.talk-bubble.char-2 {
  left: 46.3%;
  top: 54%;
  width: 28%;
}

.talk-bubble.char-3 {
  left: 54%;
  top: 53.5%;
  width: 21%;
}

.talk-bubble.char-4 {
  left: 42%;
  top: 66%;
  width: 31%;
}

.talk-bubble:before,
.talk-bubble:after {
  content: '';
  position: absolute;
}

 .talk-bubble.char-1:before,
 .talk-bubble.char-1:after {
  left: -11%;
  top: 22%;
  border-top: var(--triangle-border-width) solid transparent;
  border-bottom: var(--triangle-border-width) solid transparent;
  /* border-right: 1em solid #9999CE; */
  border-right: 1em solid #E1E1F1
}

.talk-bubble.char-1:after {
  margin-left: 0.2em;
  border-right-color:#fff;
} 

.talk-bubble.char-2:before,
.talk-bubble.char-2:after {
  left: -5%;
  top: 15%;
  border-top: var(--triangle-border-width) solid transparent;
  border-bottom: var(--triangle-border-width) solid transparent;
  /* border-right: 1em solid #9999CE; */
  border-right: 1em solid #E1E1F1
}

.talk-bubble.char-2:after {
  margin-left: 0.2em;
  border-right-color:#FFF;
}

.talk-bubble.char-3:before,
.talk-bubble.char-3:after {
  left: 29%;
  top: -17%;
  border-left: var(--triangle-border-width) solid transparent;
  /* border-right: 1em solid #9999CE; */
  border-right: var(--triangle-border-width) solid transparent;
  border-bottom: 1em solid #E1E1F1;
}

.talk-bubble.char-3:after {
  margin-top: 0.2em;
  border-bottom-color:#FFF;
}

.talk-bubble.char-4:before,
.talk-bubble.char-4:after {
  left: -4.5%;
  top: 22%;
  border-top: var(--triangle-border-width) solid transparent;
  border-bottom: var(--triangle-border-width) solid transparent;
  /* border-right: 1em solid #9999CE; */
  border-right: 1em solid #E1E1F1
}

.talk-bubble.char-4:after {
  margin-left: 0.2em;
  border-right-color:#fff;
} 

/* Logos */
#logos {
  width: 100%;
  padding-bottom: 6em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0)
  );
  z-index: 3;
}

/* URL and QR code */
#QR-code {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 10%;
  padding: 1%;
  background-color: #FFF;
}

#QR-code-url {
  position: absolute;
  top: 4%;
  left: 14%;
  color: #795a9d;
  font-size: 3em;
  transition: font-size 300ms ease-in;
}

#QR-code svg {
  display: block;
}

#attendee-cta p {
  font-size: .8vw;
}

/* Hidden links */
.hidden-link {
  width: 100px;
  height: 100px;
  display: block;
  position: fixed;
  top: 0;
  opacity: 0;
}

.hidden-link.heroku {
  left: 0;
}
.hidden-link.github {
  right: 0;
}

#submissions img {
  width: 8%;
  z-index: 4;
  position: absolute;
  border-radius: 5px;
  border: solid 1px rgba(225,225,241,1);
}

#submissions img:nth-child(1) {
  top: 27%;
  left: 31%;
  transform: rotate(-24deg);
}

#submissions img:nth-child(2) {
  top: 29%;
  left: 47%;
  transform: rotate(12deg);
}

#submissions img:nth-child(3) {
  top: 54%;
  left: 57%;
  transform: rotate(27deg);
}

#submissions img:nth-child(4) {
  top: 64%;
  left: 46%;
  transform: rotate(-17deg);
}


[data-step] {
  display: none;
}
