html,body {
  overflow: hidden;
}

@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 200;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Book.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Book.woff) format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Book.ttf)
      format('truetype');
}

@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 400;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.woff)
      format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Regular.ttf)
      format('truetype');
}

@font-face {
  font-family: salesforce-sans;
  font-style: normal;
  font-weight: 700;
  src: url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.woff) format('woff'),
    url(https://www.herokucdn.com/fonts/SalesforceSans-Bold.ttf)
      format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-repeat: repeat-x;
  font-family: 'salesforce-sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* body.background-1 {
  background-image: url('../images/gradient-background.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 40%, auto 60%, 100% 60%;
  background-position: center bottom 50%, center top, center top;
}
body.background-2 {
  background-image: url('../images/gradient-background.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 60%, auto 60%, 100% 60%;
  background-position: center bottom 75%, center top, center top;
}
body.background-3 {
  background-image: url('../images/gradient-background.svg'), url('../images/stars.svg'),
    linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  background-size: auto 45%, auto 60%, 100% 60%;
  background-position: center bottom 55%, center top, center top;
} */

body {
  background-image: linear-gradient(to bottom, #001432 0%, #0b4472 60%, #1679b7 100%);
  /* background-image: url('../images/gradient-background.svg'); */
    /* background-size: auto 40%, auto 60%, 100% 60%;
  background-position: center bottom 50%, center top, center top; */
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.main-container {
  background: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 300ms ease-in, height 300ms ease-in;
}

.laptop {
  position: absolute;
  left: 0;
  top: 0;
  height:100%;
}

.main-background {
  position: absolute;
  left: 0;
  top: 0;
}

#regional-flags {
  display: none;
  height: 50%;
  position: absolute;
  left: 15%;
  bottom: 20%;
}

#flagpole {
  height: 100%;
  position: absolute;
  transform: translateX(-60%);
}

.flag {
  position: absolute;
  height: 15%;
  top: 5.5%;
  z-index: -1;
}

.flag:nth-child(3) {
  top: 22%;
}

.steam {
  position: absolute;
  width: 13%;
  left: 11%;
  top: 27%;
}

.music {
  position: absolute;
  width: 10%;
  left: 91%;
  top: 61%;
}

.sticker {
  position: absolute;
  transition: opacity 300ms ease-in 300ms;
}

.sticker-color {
  opacity: 0;
  z-index: 5;
}

.sticker-go {
  left: 39.1%;
  top: 53.8%;
  width: 5.7%;
}

.step-1 .sticker-go {
  opacity: 0;
}

.step-1 .sticker-go.sticker-color {
  opacity: 1;
}

.sticker-java {
  left: 56.1%;
  top: 32.5%;
  width: 9.5%;
}

.step-2 .sticker-java {
  opacity: 0;
}

.step-2 .sticker-java.sticker-color {
  opacity: 1;
}

.sticker-php {
  left: 28.5%;
  top: 64%;
  width: 11.7%;
}

.step-3 .sticker-php {
  opacity: 0;
}

.step-3 .sticker-php.sticker-color {
  opacity: 1;
}

.sticker-node {
  left: 28%;
  top: 41%;
  width: 4.5%;
}

.step-4 .sticker-node {
  opacity: 0;
}

.step-4 .sticker-node.sticker-color {
  opacity: 1;
}


.sticker-scala {
  left: 34%;
  top: 47%;
  width: 3.2%;
}

.step-5 .sticker-scala {
  opacity: 0;
}

.step-5 .sticker-scala.sticker-color {
  opacity: 1;
}

.sticker-clojure {
  left: 28.4%;
  top: 54%;
  width: 4.6%;
}

.step-6 .sticker-clojure {
  opacity: 0;
}

.step-6 .sticker-clojure.sticker-color {
  opacity: 1;
}

.sticker-ruby {
  width: 4.8%;
  top: 44%;
  left: 64.7%;
}

.sticker-ruby.lottie {
  width: 9.6%;
  top: 37%;
  left: 61.2%;
  opacity: 0;
}

.step-7 .sticker-ruby {
  opacity: 0;
}

.step-7 .sticker-ruby.lottie {
  opacity: 1;
}

.sticker-python {
  left: 39.8%;
  top: 38.1%;
  width: 5.8%;
}

.step-8 .sticker-python {
  opacity: 0;
}

.step-8 .sticker-python.sticker-color {
  opacity: 1;
}


/* #characters {
  width: 70%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-42%);
  z-index: 5;
}

#characters-svg > svg {
  width: 175%;
  height: 95%;
  position: absolute;
  left: 0;
  bottom: 10%;
  transform: translateX(-22%);
} */


/* title and architecture diagram */

.auto-title {
  position: absolute;
  left: 14%;
  top: 10%;
  color: white;
  font-size: 4vw;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#architecture-diagram .diagram-clickable-area {
  position: absolute;
  bottom: 3vh;
  opacity: 0;
  right: 3vw;
  width: 10vw;
  height: 10vw;
  background: #FFF;
}

#architecture-diagram > div {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    30deg,
    rgba(0, 20, 50, 0.95) 0%,
    rgba(11, 68, 114, 0.95) 60%
  );
}

#architecture-diagram > div img {
  display: block;
  height: 90vh;
}

.architecture-diagram-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.zoomed-architecture-diagram {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* help command list */

#command-help div {
  zoom: 0.5;
}

@media screen and (min-width: 1280px) {
  #command-help div {
    zoom: 0.7;
  }
}

@media screen and (min-width: 1441px) {
  #command-help div {
    zoom: 1;
  }
}

#command-help div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    30deg,
    rgba(0, 20, 50, 0.95) 0%,
    rgba(11, 68, 114, 0.95) 60%
  );
}

#command-help h2 {
  color: #FFFFFF;
  font-size: 3em;
}


#command-help td,
#command-help th {
  padding: 10px;
  font-size: 1.4em;
  color: #FFFFFF;
  font-weight: 700;
}

#command-help td:nth-child(2) {
  padding-left: 40px;
}

#command-help td:first-child {
  font-size: 1.8em;
}

#command-help span {
  border: solid 3px #FFFFFF;
  border-radius: 6px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 60px;
}

/* dialogue */

.talk-bubble {
  width: 20vw;
  padding: 20px 25px;
  position: absolute;
  background-color: #032041;
  border: 1px solid #c4c4c4;
  font-size: 1.3vw;
  color: white;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.talk-bubble.char-1 {
  left: 15%;
  bottom: 130%;
}
.talk-bubble.char-2 {
  left: 28%;
  bottom: 110%;
}
.talk-bubble.char-3 {
  right: 42%;
  bottom: 120%;
}
.talk-bubble.char-4 {
  right: 35%;
  bottom: 110%;
}

.talk-bubble:before,
.talk-bubble:after {
  content: '';
  position: absolute;
}

/* right side of the fire */
.talk-bubble.char-3:before,
.talk-bubble.char-4:before {
  right: 49px;
  bottom: -84px;
  border-top: 83px solid #c4c4c4;
  border-left: 52px solid transparent;
}
.talk-bubble.char-3:after,
.talk-bubble.char-4:after {
  right: 50px;
  bottom: -80px;
  border-top: 80px solid #032041;
  border-left: 50px solid transparent;
}

/* left side of the fire */
.talk-bubble.char-1:before,
.talk-bubble.char-2:before {
  left: 49px;
  bottom: -84px;
  border-top: 83px solid #c4c4c4;
  border-right: 52px solid transparent;
}
.talk-bubble.char-1:after,
.talk-bubble.char-2:after {
  left: 50px;
  bottom: -80px;
  border-top: 80px solid #032041;
  border-right: 50px solid transparent;
}

/* Logos */
#logos {
  width: 100%;
  padding-bottom: 6em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0)
  );
  z-index: 3;
}

/* URL and QR code */
#QR-code {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 10%;
  padding: 1%;
  background-color: #FFF;
}

#QR-code-url {
  position: absolute;
  top: 3%;
  left: 14%;
  color: #795a9d;
  font-size: 2rem;
}

#QR-code svg {
  display: block;
}

#attendee-cta p {
  font-size: .8vw;
}

/* Hidden links */
.hidden-link {
  width: 100px;
  height: 100px;
  display: block;
  position: fixed;
  top: 0;
  opacity: 0;
}

.hidden-link.heroku {
  left: 0;
}
.hidden-link.github {
  right: 0;
}

[data-step] {
  display: none;
}
